header.header
    .header__column
        a(href=routes.home)
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(href=`/users${routes.join}`) Join
            li 
                a(href=`/users${routes.login}`) Log in
            