extends layouts/base 

block content
    form(method="post",action=`/users${routes.password}`)
        input(type="password",placeholder="현재 비밀번호",name="currentPassword")
        input(type="password",placeholder="변경 비밀번호",name="newPassword")
        input(type="password",placeholder="변경 비밀번호 확인",name="newPassword2")
        input(type="submit",value="비밀번호 변경하기")