extends layouts/base  

block content
    .uploadVideo 
        form(method="post",enctype="multipart/form-data",action=`/videos${routes.upload}`)
            label(for="v") Upload
            input(type="file",id="v",name="videoFile",required=true,accept="video/*")
            input(type="text",placeholder="제목",name="videoName")
            textarea(name="description",placeholder="설명")
            input(type="submit",value="업로드하기")
                